In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("Ipl.csv")
df.head()

C:\Users\chauh\AppData\Local\Temp\ipykernel_792\3883014012.py:1: DtypeWarning: Columns (28,29,30,31,43,46,47,48,51) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("Ipl.csv")

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
0,131970,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,...,1,1,0,NaN,0,1,0,"('BB McCullum', 'SC Ganguly')",NaN,False
1,131971,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,...,1,2,0,NaN,0,1,0,"('BB McCullum', 'SC Ganguly')",NaN,False
2,131972,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,...,2,2,0,NaN,0,1,0,"('BB McCullum', 'SC Ganguly')",NaN,False
3,131973,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,...,2,3,0,NaN,0,2,0,"('BB McCullum', 'SC Ganguly')",NaN,False
4,131974,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,...,2,4,0,NaN,0,3,0,"('BB McCullum', 'SC Ganguly')",NaN,False

In [3]:
df.drop(columns=['wicket_kind','player_out','fielders','date','match_type','event_name','bat_pos','batter','bowler','runs_batter','balls_faced'],inplace=True)

In [4]:
df.sample(5)

,Unnamed: 0,match_id,innings,batting_team,bowling_team,over,ball,ball_no,valid_ball,runs_extras,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
243920,107322,1422119,1,Royal Challengers Bengaluru,Chennai Super Kings,16,5,16.5,1,0,...,123,101,5,NaN,19,15,0,"('Anuj Rawat', 'KD Karthik')",NaN,False
142528,5930,1082615,2,Rising Pune Supergiant,Sunrisers Hyderabad,7,1,7.1,1,0,...,58,43,1,NaN,7,7,0,"('RA Tripathi', 'SPD Smith')",NaN,False
91065,223280,598060,1,Sunrisers Hyderabad,Mumbai Indians,5,4,5.4,1,0,...,47,34,1,NaN,13,16,0,"('GH Vihari', 'S Dhawan')",NaN,False
125023,256993,980921,2,Delhi Daredevils,Royal Challengers Bangalore,13,3,13.3,1,0,...,123,81,2,NaN,35,27,0,"('KK Nair', 'Q de Kock')",NaN,False
268182,131584,1473468,1,Punjab Kings,Kolkata Knight Riders,10,3,10.3,1,0,...,81,63,7,NaN,1,4,0,"('M Jansen', 'Shashank Singh')",NaN,False

In [5]:
df.shape

(278205, 53)

In [6]:
df.drop(columns=['valid_ball','runs_extras','runs_not_boundary','extra_type','non_striker','non_striker_pos','review_batter',"team_reviewed",'review_decision',"umpire",'umpires_call','player_of_match',"day",'month','year','season','gender',"team_type",'superover_winner','result_type','method','balls_per_over','event_match_no',"stage","match_number",'new_batter','batter_runs','batter_balls','bowler_wicket','batting_partners','next_batter','striker_out','win_outcome'],inplace=True)

In [7]:
df.shape

(278205, 20)

In [8]:
df.sample(5)

,Unnamed: 0,match_id,innings,batting_team,bowling_team,over,ball,ball_no,runs_total,runs_bowler,runs_target,match_won_by,toss_winner,toss_decision,venue,city,overs,team_runs,team_balls,team_wicket
144650,8052,1082625,2,Mumbai Indians,Gujarat Lions,13,3,13.3,0,0,154.0,Unknown,Gujarat Lions,bat,Saurashtra Cricket Association Stadium,Rajkot,20,108,81,3
50054,182024,501234,2,Kolkata Knight Riders,Kings XI Punjab,3,4,3.4,1,1,120.0,Kolkata Knight Riders,Kolkata Knight Riders,field,Eden Gardens,Kolkata,20,29,22,1
77334,209304,598001,2,Delhi Daredevils,Rajasthan Royals,18,3,18.3,0,0,166.0,Rajasthan Royals,Rajasthan Royals,bat,Feroz Shah Kotla,Delhi,20,153,111,4
39765,171735,419158,1,Rajasthan Royals,Kolkata Knight Riders,10,4,10.4,0,0,NaN,Kolkata Knight Riders,Rajasthan Royals,bat,Eden Gardens,Kolkata,20,75,64,3
164520,27922,1136620,1,Sunrisers Hyderabad,Chennai Super Kings,2,3,2.3,0,0,NaN,Chennai Super Kings,Chennai Super Kings,field,Wankhede Stadium,Mumbai,20,15,15,1

In [9]:
df.drop(columns='Unnamed: 0')

,match_id,innings,batting_team,bowling_team,over,ball,ball_no,runs_total,runs_bowler,runs_target,match_won_by,toss_winner,toss_decision,venue,city,overs,team_runs,team_balls,team_wicket
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,0.1,1,0,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,field,M Chinnaswamy Stadium,Bangalore,20,1,1,0
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,0.2,0,0,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,field,M Chinnaswamy Stadium,Bangalore,20,1,2,0
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,0.3,1,1,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,field,M Chinnaswamy Stadium,Bangalore,20,2,2,0
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,0.3,0,0,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,field,M Chinnaswamy Stadium,Bangalore,20,2,3,0
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,0.4,0,0,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,field,M Chinnaswamy Stadium,Bangalore,20,2,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278200,1473511,2,Punjab Kings,Royal Challengers Bengaluru,19,2,19.2,0,0,191.0,Royal Challengers Bengaluru,Punjab Kings,field,"Narendra Modi Stadium, Ahmedabad",Ahmedabad,20,162,116,7
278201,1473511,2,Punjab Kings,Royal Challengers Bengaluru,19,3,19.3,6,6,191.0,Royal Challengers Bengaluru,Punjab Kings,field,"Narendra Modi Stadium, Ahmedabad",Ahmedabad,20,168,117,7
278202,1473511,2,Punjab Kings,Royal Challengers Bengaluru,19,4,19.4,4,4,191.0,Royal Challengers Bengaluru,Punjab Kings,field,"Narendra Modi Stadium, Ahmedabad",Ahmedabad,20,172,118,7
278203,1473511,2,Punjab Kings,Royal Challengers Bengaluru,19,5,19.5,6,6,191.0,Royal Challengers Bengaluru,Punjab Kings,field,"Narendra Modi Stadium, Ahmedabad",Ahmedabad,20,178,119,7
278204,1473511,2,Punjab Kings,Royal Challengers Bengaluru,19,6,19.6,6,6,191.0,Royal Challengers Bengaluru,Punjab Kings,field,"Narendra Modi Stadium, Ahmedabad",Ahmedabad,20,184,120,7

In [10]:
## Filters rows where innings = 2 (team chasing)

In [11]:
df_innings2 = df[df['innings'] == 2][['match_id', 'batting_team', 'runs_target']].drop_duplicates()

In [12]:
## Filters rows where innings = 1 (team batting first)

In [13]:
inning1_scores = df[df['innings'] == 1].groupby('match_id').agg({'team_runs': 'max'}).reset_index().rename(columns={'team_runs': 'inning1_score'})
df.head()

,Unnamed: 0,match_id,innings,batting_team,bowling_team,over,ball,ball_no,runs_total,runs_bowler,runs_target,match_won_by,toss_winner,toss_decision,venue,city,overs,team_runs,team_balls,team_wicket
0,131970,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,0.1,1,0,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,field,M Chinnaswamy Stadium,Bangalore,20,1,1,0
1,131971,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,0.2,0,0,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,field,M Chinnaswamy Stadium,Bangalore,20,1,2,0
2,131972,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,0.3,1,1,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,field,M Chinnaswamy Stadium,Bangalore,20,2,2,0
3,131973,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,0.3,0,0,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,field,M Chinnaswamy Stadium,Bangalore,20,2,3,0
4,131974,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,0.4,0,0,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,field,M Chinnaswamy Stadium,Bangalore,20,2,4,0

In [14]:
## Merging both datasets

In [15]:
df_new = pd.merge(df_innings2, inning1_scores, on='match_id')

In [16]:
df_new = df_new.rename(columns={'runs_target': 'target_runs'})
df_new.sample(5)

      match_id                 batting_team  target_runs  inning1_score
1089   1426310             Rajasthan Royals        173.0            172
1137   1473483  Royal Challengers Bengaluru        163.0            162
1055   1426273               Delhi Capitals        267.0            266
645    1136572          Chennai Super Kings        198.0            197
835    1254079               Delhi Capitals        172.0            171

In [17]:
df_new.drop(columns=['target_runs','batting_team'],inplace=True)

In [18]:
df=df[df['innings']==1]
df.drop(columns=['ball_no'],inplace=True)

In [19]:
df=df.merge(df_new,on='match_id')

In [20]:
df.drop(columns=['Unnamed: 0'],inplace=True)

In [21]:
df.head(5)

,match_id,innings,batting_team,bowling_team,over,ball,runs_total,runs_bowler,runs_target,match_won_by,toss_winner,toss_decision,venue,city,overs,team_runs,team_balls,team_wicket,inning1_score
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,1,0,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,field,M Chinnaswamy Stadium,Bangalore,20,1,1,0,222
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,0,0,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,field,M Chinnaswamy Stadium,Bangalore,20,1,2,0,222
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,1,1,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,field,M Chinnaswamy Stadium,Bangalore,20,2,2,0,222
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,0,0,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,field,M Chinnaswamy Stadium,Bangalore,20,2,3,0,222
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,0,0,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,field,M Chinnaswamy Stadium,Bangalore,20,2,4,0,222

In [22]:

df.drop(columns=['innings','runs_bowler','match_won_by',"runs_target"],inplace=True)

In [23]:
df.rename(columns={'team_runs':'current_score'},inplace=True)
df.rename(columns={'inning1_score':'Final_score'},inplace=True)
df.rename(columns={'team_wicket':'Wickets_fallen'},inplace=True)
df.rename(columns={'overs':'Overs_left'},inplace=True)

In [24]:
df["balls_left"] = 120 - df['team_balls']
df['CRR']=df.current_score*6/(120-df.balls_left)
df['wickets']=10- df.Wickets_fallen

In [25]:
df.head()

,match_id,batting_team,bowling_team,over,ball,runs_total,toss_winner,toss_decision,venue,city,Overs_left,current_score,team_balls,Wickets_fallen,Final_score,balls_left,CRR,wickets
0,335982,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,1,Royal Challengers Bangalore,field,M Chinnaswamy Stadium,Bangalore,20,1,1,0,222,119,6.0,10
1,335982,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,0,Royal Challengers Bangalore,field,M Chinnaswamy Stadium,Bangalore,20,1,2,0,222,118,3.0,10
2,335982,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,1,Royal Challengers Bangalore,field,M Chinnaswamy Stadium,Bangalore,20,2,2,0,222,118,6.0,10
3,335982,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,0,Royal Challengers Bangalore,field,M Chinnaswamy Stadium,Bangalore,20,2,3,0,222,117,4.0,10
4,335982,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,0,Royal Challengers Bangalore,field,M Chinnaswamy Stadium,Bangalore,20,2,4,0,222,116,3.0,10

In [26]:
df.shape

(143636, 18)

In [27]:
final_df =df[['match_id','batting_team','bowling_team','city','venue','toss_winner','toss_decision','Overs_left','balls_left','current_score','wickets','CRR','Final_score']]

In [28]:
final_df.head(3)

,match_id,batting_team,bowling_team,city,venue,toss_winner,toss_decision,Overs_left,balls_left,current_score,wickets,CRR,Final_score
0,335982,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,20,119,1,10,6.0,222
1,335982,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,20,118,1,10,3.0,222
2,335982,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,20,118,2,10,6.0,222

In [29]:
final_df.duplicated().sum()

np.int64(0)

In [30]:
final_df = final_df.sample(frac=1, random_state=42).reset_index(drop=True)

In [31]:
final_df.head()

,match_id,batting_team,bowling_team,city,venue,toss_winner,toss_decision,Overs_left,balls_left,current_score,wickets,CRR,Final_score
0,598004,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",Royal Challengers Bangalore,bat,20,36,85,6,6.071429,130
1,1082624,Rising Pune Supergiant,Royal Challengers Bangalore,Pune,Maharashtra Cricket Association Stadium,Royal Challengers Bangalore,field,20,41,102,8,7.746835,157
2,980979,Sunrisers Hyderabad,Rising Pune Supergiants,Visakhapatnam,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Sunrisers Hyderabad,bat,20,94,20,9,4.615385,137
3,980963,Kolkata Knight Riders,Kings XI Punjab,Kolkata,Eden Gardens,Kings XI Punjab,field,20,89,32,10,6.193548,164
4,729301,Sunrisers Hyderabad,Delhi Daredevils,Unknown,Dubai International Cricket Stadium,Sunrisers Hyderabad,bat,20,7,170,9,9.026549,184

In [32]:
final_df.batting_team.unique()

array(['Royal Challengers Bangalore', 'Rising Pune Supergiant',
       'Sunrisers Hyderabad', 'Kolkata Knight Riders', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians',
       'Royal Challengers Bengaluru', 'Lucknow Super Giants',
       'Pune Warriors', 'Rajasthan Royals', 'Deccan Chargers',
       'Delhi Capitals', 'Chennai Super Kings', 'Gujarat Lions',
       'Gujarat Titans', 'Punjab Kings', 'Rising Pune Supergiants',
       'Kochi Tuskers Kerala'], dtype=object)

In [33]:
team_name_map = {
    'Gujarat Lions': 'Gujarat Titans',
    'Kings XI Punjab': 'Punjab Kings',
    'Deccan Chargers': 'Sunrisers Hyderabad',
    'Royal Challengers Bangalore': 'Royal Challengers Bangalore',
    'Pune Warriors': 'Rising Pune Supergiants',
    'Delhi Daredevils': 'Delhi Capitals'
}

final_df['batting_team'] = final_df['batting_team'].replace(team_name_map)
final_df['bowling_team'] = final_df['bowling_team'].replace(team_name_map)
final_df['toss_winner']  = final_df['toss_winner'].replace(team_name_map)

In [34]:
teams_to_remove = [
    'Rising Pune Supergiant',
    'Rising Pune Supergiants',
    'Kochi Tuskers Kerala'
]


final_df = final_df[
    ~final_df['batting_team'].isin(teams_to_remove) &
    ~final_df['bowling_team'].isin(teams_to_remove) &
    ~final_df['toss_winner'].isin(teams_to_remove)
]

In [35]:
final_df.batting_team.unique()

array(['Royal Challengers Bangalore', 'Kolkata Knight Riders',
       'Sunrisers Hyderabad', 'Punjab Kings', 'Delhi Capitals',
       'Mumbai Indians', 'Royal Challengers Bengaluru',
       'Lucknow Super Giants', 'Rajasthan Royals', 'Chennai Super Kings',
       'Gujarat Titans'], dtype=object)

In [36]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 132835 entries, 0 to 143635
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   match_id       132835 non-null  int64
 1   batting_team   132835 non-null  object
 2   bowling_team   132835 non-null  object
 3   city           132835 non-null  object
 4   venue          132835 non-null  object
 5   toss_winner    132835 non-null  object
 6   toss_decision  132835 non-null  object
 7   Overs_left     132835 non-null  int64
 8   balls_left     132835 non-null  int64
 9   current_score  132835 non-null  int64
 10  wickets        132835 non-null  int64
 11  CRR            132835 non-null  float64
 12  Final_score    132835 non-null  int64
dtypes: float64(1), int64(6), object(6)
memory usage: 14.2+ MB

In [37]:
final_df.dropna(inplace=True)
final_df =final_df[final_df.balls_left !=0]

In [38]:
##Checking infinity

In [39]:
final_df['CRR'] = final_df['CRR'].replace([np.inf, -np.inf], np.nan)

In [40]:
final_df.dropna(inplace=True)

In [41]:
final_df.drop(columns=['venue','city'],inplace=True)
final_df.head()

,match_id,batting_team,bowling_team,toss_winner,toss_decision,Overs_left,balls_left,current_score,wickets,CRR,Final_score
0,598004,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,bat,20,36,85,6,6.071429,130
3,980963,Kolkata Knight Riders,Punjab Kings,Punjab Kings,field,20,89,32,10,6.193548,164
4,729301,Sunrisers Hyderabad,Delhi Capitals,Sunrisers Hyderabad,bat,20,7,170,9,9.026549,184
5,829809,Punjab Kings,Chennai Super Kings,Punjab Kings,bat,20,64,55,6,5.892857,130
6,336027,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,field,20,19,115,6,6.831683,147

In [42]:
final_df.duplicated().sum()

np.int64(0)

In [43]:
final_df['toss_decision'] = final_df['toss_decision'].replace({'field': 'ball'})
final_df.toss_decision.unique()

array(['bat', 'ball'], dtype=object)

In [44]:
from sklearn.model_selection import train_test_split

X = final_df.drop(columns=['Final_score', 'match_id'])
y = final_df['Final_score']

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=1,
    stratify=y ##To keep class balance.....
)

In [45]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\chauh\anaconda3\lib\site-packages (3.1.2)
Requirement already satisfied: numpy in c:\users\chauh\anaconda3\lib\site-packages (from xgboost) (2.1.3)
Requirement already satisfied: scipy in c:\users\chauh\anaconda3\lib\site-packages (from xgboost) (1.15.3)

In [46]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from xgboost import XGBRegressor
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor

In [47]:
X.sample(3)

,batting_team,bowling_team,toss_winner,toss_decision,Overs_left,balls_left,current_score,wickets,CRR
129558,Punjab Kings,Royal Challengers Bangalore,Royal Challengers Bangalore,ball,20,77,70,8,9.767442
15559,Kolkata Knight Riders,Gujarat Titans,Gujarat Titans,ball,20,29,104,6,6.857143
77077,Sunrisers Hyderabad,Gujarat Titans,Gujarat Titans,ball,20,10,166,4,9.054545

In [48]:
categorical_cols = [
    'batting_team',
    'bowling_team',
    'toss_winner',
    'toss_decision'
]

trf = ColumnTransformer(
    transformers=[
        ('cat',
         OneHotEncoder(drop='first', sparse_output=False, handle_unknown='ignore'),
         categorical_cols)
    ],
    remainder='passthrough'
)

In [49]:
from xgboost import XGBRegressor

pipe = Pipeline([
    ('step1', trf),
    ('step2', XGBRegressor(
        n_estimators=500,
        learning_rate=0.1,
        max_depth=6,
        random_state=1
    ))
])
pipe.fit(X_train, y_train)

C:\Users\chauh\anaconda3\Lib\site-packages\sklearn\compose\_column_transformer.py:1667: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('cat',
                                                  OneHotEncoder(drop='first',
                                                                handle_unknown='ignore',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team',
                                                   'toss_winner',
                                                   'toss_decision'])])),
                ('step2',
                 XGBRegressor(base_score=None, booster=None, callbacks=None,
                              colsample_bylevel=None, colsample_bynode=None,
                              colsample_byt...
                              feature_types=None, feature_weights=None,
                              gamma=None, grow_policy=None,
                              importance_type=None,
                              interaction_constraints=None, learning_rate=0.1,
                              max_bin=None, max_cat_threshold=None,
                              max_cat_to_onehot=None, max_delta_step=None,
                              max_depth=6, max_leaves=None,
                              min_child_weight=None, missing=nan,
                              monotone_constraints=None, multi_strategy=None,
                              n_estimators=500, n_jobs=None,
                              num_parallel_tree=None, ...))])

In [50]:
y_pred = pipe.predict(X_test)

In [51]:
r2_score(y_test,y_pred)

0.745661735534668

In [52]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test,y_pred))
print(f"RMSE Value: {rmse}")

RMSE Value: 16.29986152824139

In [53]:
from sklearn.model_selection import cross_val_score

cv_rmse = -cross_val_score(
    pipe,
    X, y,
    cv=5,
    scoring='neg_root_mean_squared_error'
).mean()

print("CV RMSE:", cv_rmse)

CV RMSE: 16.377128982543944

In [54]:
input_data = pd.DataFrame({
    'batting_team': ['Mumbai Indians'],
    'bowling_team': ['Royal Challengers Bengaluru'],
    'toss_winner': ['Delhi Capitals'],
    'toss_decision': ['bat'],
    'Overs_left': ['16'],
    'balls_left': ['24'],
    'current_score': ['166'],
    'wickets': ['9'],
    'CRR': ['11.0']
})
pipe.predict(input_data)

array([212.9398], dtype=float32)

In [55]:
import joblib
joblib.dump(pipe, 'Innings1.pkl')

['Innings1.pkl']

In [56]:
import sklearn
print(sklearn.__version__)

1.6.1