In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("../data/ipl.csv")

C:\Users\chauh\AppData\Local\Temp\ipykernel_18832\1261996837.py:1: DtypeWarning: Columns (28,29,30,31,43,46,47,48,51) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/ipl.csv")

In [5]:
df.head(7)

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_runs,team_balls,team_wicket,new_batter,batter_runs,batter_balls,bowler_wicket,batting_partners,next_batter,striker_out
0,131970,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,...,1,1,0,NaN,0,1,0,"('BB McCullum', 'SC Ganguly')",NaN,False
1,131971,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,...,1,2,0,NaN,0,1,0,"('BB McCullum', 'SC Ganguly')",NaN,False
2,131972,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,...,2,2,0,NaN,0,1,0,"('BB McCullum', 'SC Ganguly')",NaN,False
3,131973,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,...,2,3,0,NaN,0,2,0,"('BB McCullum', 'SC Ganguly')",NaN,False
4,131974,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,...,2,4,0,NaN,0,3,0,"('BB McCullum', 'SC Ganguly')",NaN,False
5,131975,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,...,2,5,0,NaN,0,4,0,"('BB McCullum', 'SC Ganguly')",NaN,False
6,131976,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,6,...,3,6,0,NaN,0,5,0,"('BB McCullum', 'SC Ganguly')",NaN,False

In [6]:
df.drop(columns=['wicket_kind','player_out','fielders','date','match_type','event_name','bat_pos','batter','bowler','runs_batter','balls_faced'],inplace=True)

In [7]:
df.shape

(278205, 53)

In [8]:
df.drop(columns=['Unnamed: 0'],inplace=True)

In [9]:
df.drop(columns=['valid_ball','runs_extras','runs_not_boundary','extra_type','non_striker','non_striker_pos','review_batter',"team_reviewed",'review_decision',"umpire",'umpires_call','player_of_match','toss_winner',"toss_decision","venue","day",'month','year','season','gender',"team_type",'superover_winner','result_type','method','balls_per_over','overs','event_match_no',"stage","match_number",'new_batter','batter_runs','batter_balls','bowler_wicket','batting_partners','next_batter','striker_out','win_outcome'],inplace=True)

In [10]:
df.head()

,match_id,innings,batting_team,bowling_team,over,ball,ball_no,runs_total,runs_bowler,runs_target,match_won_by,city,team_runs,team_balls,team_wicket
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,0.1,1,0,NaN,Kolkata Knight Riders,Bangalore,1,1,0
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,0.2,0,0,NaN,Kolkata Knight Riders,Bangalore,1,2,0
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,0.3,1,1,NaN,Kolkata Knight Riders,Bangalore,2,2,0
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,0.3,0,0,NaN,Kolkata Knight Riders,Bangalore,2,3,0
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,0.4,0,0,NaN,Kolkata Knight Riders,Bangalore,2,4,0

In [11]:
df=df[df['innings']==2]
df.rename(columns={'match_won_by':'winner'},inplace=True)
df.drop(columns=['ball'],inplace=True)

In [12]:
df.sample(3)

,match_id,innings,batting_team,bowling_team,over,ball_no,runs_total,runs_bowler,runs_target,winner,city,team_runs,team_balls,team_wicket
102336,733995,2,Chennai Super Kings,Mumbai Indians,14,14.2,1,1,158.0,Chennai Super Kings,Mumbai,106,86,2
99751,733973,2,Mumbai Indians,Kings XI Punjab,17,17.4,1,1,169.0,Mumbai Indians,Mumbai,136,106,5
157794,1136591,2,Mumbai Indians,Royal Challengers Bangalore,10,10.3,0,0,168.0,Royal Challengers Bangalore,Bengaluru,78,63,4

In [13]:
df.team_balls.unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120,   0])

In [14]:
df.duplicated().sum()

np.int64(0)

In [15]:
df.rename(columns={'team_runs':'current_score'},inplace=True)

In [16]:
df['runs_left'] = df['runs_target']-df['current_score']+1
df['balls_left'] = 120 - df['team_balls']
df['CRR']=df.current_score*6/(120-df.balls_left)
df['RRR']=df.runs_left*6/df.balls_left
df['wickets']=10- df.team_wicket

In [17]:
df.head(5)

,match_id,innings,batting_team,bowling_team,over,ball_no,runs_total,runs_bowler,runs_target,winner,city,current_score,team_balls,team_wicket,runs_left,balls_left,CRR,RRR,wickets
124,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,0.1,1,1,223.0,Kolkata Knight Riders,Bangalore,1,1,0,223.0,119,6.0,11.243697,10
125,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,0.2,1,1,223.0,Kolkata Knight Riders,Bangalore,2,1,0,222.0,119,12.0,11.193277,10
126,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,0.2,0,0,223.0,Kolkata Knight Riders,Bangalore,2,2,0,222.0,118,6.0,11.288136,10
127,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,0.3,1,1,223.0,Kolkata Knight Riders,Bangalore,3,3,0,221.0,117,6.0,11.333333,10
128,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,0.4,1,1,223.0,Kolkata Knight Riders,Bangalore,4,4,0,220.0,116,6.0,11.379310,10

In [18]:
df = df.sample(frac=1, random_state=42).reset_index(drop=True)

In [19]:
def is_win(f):
    winner = []
    for item,row in f.iterrows():
        if row.winner == row.batting_team:
            winner.append(1)
        else:
            winner.append(0)

    return winner

In [20]:
df['winner']=is_win(df)

In [21]:
df.head(5)

,match_id,innings,batting_team,bowling_team,over,ball_no,runs_total,runs_bowler,runs_target,winner,city,current_score,team_balls,team_wicket,runs_left,balls_left,CRR,RRR,wickets
0,598047,2,Rajasthan Royals,Pune Warriors,7,7.1,4,4,179.0,1,Jaipur,67,43,0,113.0,77,9.348837,8.805195,10
1,1359511,2,Chennai Super Kings,Rajasthan Royals,0,0.1,2,2,203.0,0,Jaipur,2,1,0,202.0,119,12.000000,10.184874,10
2,548357,2,Kolkata Knight Riders,Delhi Daredevils,14,14.6,1,1,154.0,1,Delhi,128,90,1,27.0,30,8.533333,5.400000,9
3,1178399,2,Mumbai Indians,Kings XI Punjab,8,8.3,1,1,198.0,1,Mumbai,61,51,2,138.0,69,7.176471,12.000000,8
4,1136605,2,Royal Challengers Bangalore,Delhi Daredevils,2,2.2,1,1,182.0,1,Delhi,14,14,1,169.0,106,6.000000,9.566038,9

In [22]:
final_df =df[['match_id','batting_team','bowling_team','city','runs_left','balls_left','wickets','runs_target','CRR','RRR','winner']]

In [23]:
final_df.head(5)

,match_id,batting_team,bowling_team,city,runs_left,balls_left,wickets,runs_target,CRR,RRR,winner
0,598047,Rajasthan Royals,Pune Warriors,Jaipur,113.0,77,10,179.0,9.348837,8.805195,1
1,1359511,Chennai Super Kings,Rajasthan Royals,Jaipur,202.0,119,10,203.0,12.000000,10.184874,0
2,548357,Kolkata Knight Riders,Delhi Daredevils,Delhi,27.0,30,9,154.0,8.533333,5.400000,1
3,1178399,Mumbai Indians,Kings XI Punjab,Mumbai,138.0,69,8,198.0,7.176471,12.000000,1
4,1136605,Royal Challengers Bangalore,Delhi Daredevils,Delhi,169.0,106,9,182.0,6.000000,9.566038,1

In [24]:
final_df.duplicated().sum()

np.int64(0)

In [25]:
final_df =final_df.sample(final_df.shape[0])

In [26]:
team_name_map = {
    'Gujarat Lions': 'Gujarat Titans',
    'Kings XI Punjab': 'Punjab Kings',
    'Deccan Chargers': 'Sunrisers Hyderabad',
    'Royal Challengers Bangalore': 'Royal Challengers Bangalore',
    'Pune Warriors': 'Rising Pune Supergiants',
    'Delhi Daredevils': 'Delhi Capitals'
}

final_df['batting_team'] = final_df['batting_team'].replace(team_name_map)
final_df['bowling_team'] = final_df['bowling_team'].replace(team_name_map)

In [27]:
final_df.batting_team.unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Chennai Super Kings', 'Gujarat Titans', 'Sunrisers Hyderabad',
       'Royal Challengers Bengaluru', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Rising Pune Supergiants',
       'Delhi Capitals', 'Lucknow Super Giants', 'Kochi Tuskers Kerala',
       'Rising Pune Supergiant'], dtype=object)

In [28]:
teams_to_remove = [
    'Rising Pune Supergiant',
    'Rising Pune Supergiants',
    'Kochi Tuskers Kerala'
]


final_df = final_df[
    ~final_df['batting_team'].isin(teams_to_remove) &
    ~final_df['bowling_team'].isin(teams_to_remove)
]

In [29]:
final_df.bowling_team.unique()

array(['Rajasthan Royals', 'Sunrisers Hyderabad', 'Mumbai Indians',
       'Royal Challengers Bangalore', 'Punjab Kings',
       'Chennai Super Kings', 'Lucknow Super Giants', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [30]:
final_df.city.unique()

array(['Jaipur', 'Bengaluru', 'Chennai', 'Rajkot', 'Hyderabad', 'Lucknow',
       'Kolkata', 'Mumbai', 'Dubai', 'Bangalore', 'Visakhapatnam',
       'Chandigarh', 'Unknown', 'Delhi', 'Dharamsala', 'Abu Dhabi',
       'Ahmedabad', 'Cape Town', 'Pune', 'Durban', 'Nagpur',
       'New Chandigarh', 'Mohali', 'Raipur', 'Ranchi', 'East London',
       'Navi Mumbai', 'Johannesburg', 'Centurion', 'Cuttack', 'Indore',
       'Guwahati', 'Kimberley', 'Bloemfontein', 'Kanpur', 'Sharjah',
       'Port Elizabeth'], dtype=object)

In [31]:
final_df.dropna(inplace=True)
final_df =final_df[final_df.balls_left !=0]

In [32]:
final_df.RRR.replace([np.inf,-np.inf],np.nan,inplace=True)

C:\Users\chauh\AppData\Local\Temp\ipykernel_18832\1093561783.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df.RRR.replace([np.inf,-np.inf],np.nan,inplace=True)

In [33]:
final_df.CRR.replace([np.inf,-np.inf],np.nan,inplace=True)

C:\Users\chauh\AppData\Local\Temp\ipykernel_18832\4123883244.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df.CRR.replace([np.inf,-np.inf],np.nan,inplace=True)

In [34]:
final_df.dropna(inplace=True)

In [35]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 123413 entries, 55464 to 96280
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   match_id      123413 non-null  int64
 1   batting_team  123413 non-null  object
 2   bowling_team  123413 non-null  object
 3   city          123413 non-null  object
 4   runs_left     123413 non-null  float64
 5   balls_left    123413 non-null  int64
 6   wickets       123413 non-null  int64
 7   runs_target   123413 non-null  float64
 8   CRR           123413 non-null  float64
 9   RRR           123413 non-null  float64
 10  winner        123413 non-null  int64
dtypes: float64(4), int64(4), object(3)
memory usage: 11.3+ MB

In [36]:
final_df.duplicated().sum()

np.int64(0)

In [37]:
from sklearn.model_selection import train_test_split
X = final_df.drop(columns=['winner','match_id'])
y = final_df['winner']
X_check =final_df.drop(columns=['winner'])
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [38]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [39]:
X.sample(5)

,batting_team,bowling_team,city,runs_left,balls_left,wickets,runs_target,CRR,RRR
105923,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,47.0,33,10,187.0,9.724138,8.545455
96015,Sunrisers Hyderabad,Delhi Capitals,Abu Dhabi,22.0,5,2,190.0,8.817391,26.400000
50631,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata,123.0,49,4,205.0,7.014085,15.061224
86945,Rajasthan Royals,Chennai Super Kings,Chennai,13.0,4,3,176.0,8.482759,19.500000
840,Lucknow Super Giants,Chennai Super Kings,Chennai,93.0,47,6,218.0,10.356164,11.872340

In [40]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

categorical_cols = ['batting_team', 'bowling_team', 'city']

trf = ColumnTransformer(
    transformers=[
        ('cat',
         OneHotEncoder(
             drop='first',
             sparse_output=False,
             handle_unknown='ignore'
         ),
         categorical_cols)
    ],
    remainder='passthrough'
)

In [ ]:
pipe = Pipeline([
    ('step1', trf),
    ('step2', LogisticRegression(solver='liblinear'))
])
pipe.fit(X_train, y_train)

In [ ]:
y_pred = pipe.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print(f"RMSE: {rmse}")

In [ ]:
accuracy_score(y_test,y_pred)

In [ ]:
pipe.classes_

In [ ]:
prob = pipe.predict_proba(X_test)[200][1] * 100
print(f"Winning probability: {prob:.2f}%")

In [ ]:

from sklearn.metrics import roc_auc_score

y_prob = pipe.predict_proba(X_test)[:,1]
roc_auc_score(y_test, y_prob)

In [ ]:
import joblib
joblib.dump(pipe, 'IPL_model.pkl')

In [ ]:
import sklearn
print(sklearn.__version__)